name: Publish Release To NPM
on:
  release:
    types: [published]

permissions:
  id-token: write
  contents: read

jobs: 
  publish-release-to-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          node-version: "20.x"
          registry-url: "https://registry.npmjs.org"
      - run: yarn install --immutable
      - run: yarn build
      - run: yarn npm publish
